body, html {
    height: 100%;
    margin: 0;
    padding:0;
  }
.container {
    position: relative;
    background-image: url("../img/background.jpg");
    height: 100%; 
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  
  .top-left {
    position: absolute;
    top: 50px;
    left: 80px;
  }
  
  .top-right {
    position: absolute;
    top: 80px;
    right: 300px;
  }
  
  .bottom-left {
    position: absolute;
    top: 250px;
    left: 80px;
  }
  .bottom-right {
    position: absolute;
    bottom: 50px;
    right: 80px;
    padding: 20px;
 }
  
  .top-right a{
    text-decoration: none;
    padding: 5px 10px;
    color:rgb(253, 251, 130);
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .top-right a:hover{
    border-bottom: solid 3px rgb(253, 251, 130);
  }
  .top-right a:focus{
    border-bottom: solid 3px rgb(253, 251, 130);
  }

  .bottom-left .title{
    color:rgb(253, 251, 130);
    font-size:40px;
    font-weight: bold;
  }
  .bottom-left .text{
    color:rgb(228, 243, 255);
    padding: 20px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .bottom-left .btn-start{
    background-color:rgb(253, 251, 130);
    color:#153959;
    padding: 10px 20px;
    font-size: 13px;
    font-weight: 800;
    border: none;
    border-radius: 100px;
  }

  .bottom-right .text{
    color:rgb(228, 243, 255);
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .bottom-right .author{
    color: rgb(48, 203, 250);
    text-align: right;
  }